.form-control{
  width: 30%;
  height: 20%;  
  margin:auto;
  margin-top:20px;


}
.task-btn{
  width:10%;
  height:8vh;
}
body{
  background-color:darksalmon;
  width: 100%;

}
form{
  margin-bottom: 30px;
 
}
.navbar-brand{
  color:rgb(194, 91, 23)
}
.icon-btn{
border-style: none;
}
.input-task{
border-style: none;
width:35%;

}
.login-btn{
  border-style: none;
  border-radius: 10rem;
  background-color: rgb(58, 179, 162);
  color:aqua
;
  
}
.addTask{

  width: 40%;
  height: 8vh;
}
.login-div{
  width:100%;
  height: 90%;
  text-align: center;
  margin-top: 20%;

}
